@import "../../mixins/grid/grid-mixins.less";

@color-demo-column: rgba(0,0,255, 0.4);


.demo-grid {
  &__row {
    .make-grid-row();
  }

  &__outer-row {
    margin-top: @grid-gutter-y;
  }

  &__col.is-2-in-4 {
    .grid-col(8);
  }

  &__col.is-4 {
    .grid-col(4);
  }
  &__col.is-12 {
    .grid-col(12);
  }
  &__col.is-16 {
    .grid-col(16);
  }



  &__col.is-2-in-4-wrap {
    .grid-col(@md: 8);
    span {
      color: yellow;
    }
  }

  &__col.is-4-wrap {
    .grid-col(@md: 8, @lg: 4);
  }
  &__col.is-12-wrap {
    .grid-col(@md: 8, @lg: 12);
  }
  &__col.is-16-wrap {
    .grid-col(@md: 16);
  }




  &__block {
    display: flex;
    background-color: @color-demo-column;
    width: 100%;
    min-height: 4em;
    align-items: center;
    justify-content: center;

    span {
      color: #fff;
      font-family: monospace;
      font-size: 16px;;
      position: absolute;
    }
  }
}
