


//----------------------------------------------
// Breaking Points for Media Queries
//----------------------------------------------

// value         |0px     512px    600px    900px    1280px   1456px
// key           |xs      sm       md       lg       xl       xl2
// screen width  |--------|--------|--------|--------|--------|-------->
// range         |   xs   |   sm   |   md   |   lg   |   xl


@mq-xs-end: 32rem;     // up to 512px
@mq-sm-end: 37.5rem;   // up to 600px
@mq-md-end: 56.25rem;  // up to 900px
@mq-lg-end: 80rem;     // up to 1280px
@mq-xl-end: 91rem;     // up to 1456px