//Bootstrap: 
//    (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) // https://github.com/twbs/bootstrap/blob/3cf51c6ac95c4702efc632a7983019c71f77d4b3/scss/mixins/_breakpoints.scss

/* Material UI: https://material-ui.com/customization/breakpoints/
xs, extra-small: 0px
sm, small: 600px
md, medium: 960px
lg, large: 1280px
xl, extra-large: 1920px

// value         |0px     600px    960px    1280px   1920px
// key           |xs      sm       md       lg       xl
// screen width  |--------|--------|--------|--------|-------->
// range         |   xs   |   sm   |   md   |   lg   |   xl

*/

/* Tailwindcss - https://tailwindcss.com/docs/breakpoints

      'sm': '640px',
      // => @media (min-width: 640px) { ... }

      'md': '768px',
      // => @media (min-width: 768px) { ... }

      'lg': '1024px',
      // => @media (min-width: 1024px) { ... }

      'xl': '1280px',
      // => @media (min-width: 1280px) { ... }

      '2xl': '1536px',
      // => @media (min-width: 1536px) { ... }
*/

/*
Ionic https://ionicframework.com/docs/layout/grid#grid-size

xs	100%	Don't set the grid width for xs screens
sm	540px	Set grid width to 540px when (min-width: 576px)
md	720px	Set grid width to 720px when (min-width: 768px)
lg	960px	Set grid width to 960px when (min-width: 992px)
xl	1140px	Set grid width to 1140px when (min-width: 1200px)

*/

/* Denali https://denali.design/principles/responsive-grid

// See https://github.com/denali-design/denali-css/blob/22bfcb1507d67d36067963e96c35edcb7776af8d/scss/mixins/breakpoints.scss
// XS
$mobile: 0px;
$mobile-end: 599px;
// SM
$tablet: 600px;
$tablet-end: 899px;
// MD
$small-desktop: 900px;
$small-desktop-end: 1199px;
// LG
$desktop: 1200px;
$desktop-end: 1439px;
// XL
$hd: 1440px;
$hd-end: 3000px;


*/

// Grid explanation: https://material.io/design/layout/responsive-layout-grid.html#columns-gutters-and-margins




//----------------------------------------------
// Breaking Points for Media Queries
//----------------------------------------------

// value         |0px     512px    600px    900px    1280px   1456px
// key           |xs      sm       md       lg       xl       xl2
// screen width  |--------|--------|--------|--------|--------|-------->
// range         |   xs   |   sm   |   md   |   lg   |   xl


@mq-xs-end: 32rem;     // up to 512px
@mq-sm-end: 37.5rem;   // up to 600px
@mq-md-end: 56.25rem;  // up to 900px
@mq-lg-end: 80rem;     // up to 1280px
@mq-xl-end: 91rem;     // up to 1456px