@import "../../mixins/layout/layout-mixins.less";

body {
    .customBackgroundColorProperty(color-background-default);
    .customColorProperty(color-text-default);

    font-family: @font-family-default;
    font-size: @font-size-regular;
    -webkit-text-size-adjust: 100%;
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    margin-bottom: 8px;
}

a {
    .customColorProperty(color-link-default);

    &:visited {
        .customColorProperty(color-link-visited);
    }

    &:hover {
        .customColorProperty(color-link-hover);
    }
}


// Every element on the page MUST be inside one this container. 
// You can have more than one that stack on each other. This may be necessary
// If we want the background to be differnt for differnt sectioncs 
.body-container {
  .make-container();
}
